%p#notice= notice

%h1 State:
%div
  = @state.name
  = link_to 'Edit', edit_state_path(@state), class: "btn btn-brand-secondary btn-sm"
  = link_to 'Back', states_path, class: "btn btn-default btn-sm"
