/* COLORS */

.bg-brand-primary { background-color: $brand-red; }
.bg-brand-secondary { background-color: $brand-yellow; }
.bg-transparent { background-color: transparent !important; }
.bg-white { background-color: white; }

.text-primary { color: $brand-red !important; }
.text-secondary { color: $brand-yellow !important; }
.text-white { color: white; }
.text-orange { color: $brand-orange; }

/* Text */

html {
  font-size: 100%;
  background-color: $grey-dark;
}

body {
  font-family: 'cronos-display', 'sans-serif';
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-red;
  font-weight: bold;

  &.display-inline {
    display: inline-block;
  }
}

/* COMMON STYLES */

.no-underline {
  text-decoration: none !important;
}

.alert {
  z-index: 1052;
  position: relative;
}

.content {
  background-color: $gray-lighter;
  .cushion {
    padding-bottom: 80px;
  }
}

.content-padding {
  padding: 0 15px;
}

.box-content {
  background-color: white;
  padding: 20px 15px;
  .table th, .table td {
    border-top: none;
  }

  a > .fa {
    color: $gray-light;
    &:hover {
      background: transparent;
      color: $grey-dark;
    }
  }
}

hr {
  border-top: 1px solid #ddd;
  &.display-inline {
    display: inline-block;
    margin-top: 20px;
    float: right;
    width: 90%;
  }
}

// Flash messages
.msg {
  margin-top: 20px;
}

// Pagination
.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $brand-orange;
  border-color: $brand-orange;
}

.pagination > li > a {
  color: $brand-orange;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover, .pagination > li > span:focus {
  color: $brand-red;
}

// Placeholders
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48vh;

  h1 {
    font-size: 50px;
    color: black;
  }
}

/* NAV PILLS */

.nav-pills {
  li {
    background-color: $brand-red;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px 0 0;

    &.active {
      a {
        background-color: $brand-orange;
        color: white;
        &:hover, &:focus {
          background-color: $brand-orange;
          color: white;
        }
      }
    }
    a {
      color: white;
      &:hover {
        background-color: $brand-orange;
        color: black;
      }
    }
  }
}
