/* NAVIGATION */

.navbar {
  margin-bottom: 0;
}

.navbar-toggle {
  border-color: white;
  .icon-bar {
    background-color: white;
  }
}

// Upper
.nav-upper {
  background-color: $brand-red;
  ul {
    float: right;
    display: table;
  }
  .navbar-upper > li > a {
    color: white;
    &:hover {
      background: transparent;
      color: black;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
  .navbar-upper > li {
    display: table-cell;
    font-size: 12px;
  }
}

// Default lower
.navbar-lower {
  background: $brand-yellow;
  li {
    color: white;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid black;
    }
  }
  ul > li > a {
    color: inherit;
    &:hover {
      background: transparent;
      color: black;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
}

.nav-active {
  color: black;
  pointer-events: none;
  cursor: default;
  border-bottom: none;
}

/* LOGO */

.navbar-logo {
  background-image: image-url('top-menu-logo.png');
  width: 133px;
  height: 213px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  z-index: 1051;
}

/* FOOTER */

footer {
  background-color: $grey-washed;
  p, small {
    color: $gray-light;
  }
  a {
    text-decoration: none;
    color: $gray-light;
  }
  .list-inline {
    padding-left: 6px;
  }
  ul {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  li.link {
    border-left: 1px solid $gray-light;
  }
}

.footer-inner {
  padding: 30px 0;
}

.footer-bottom {
  background-color: $grey-dark;
  padding: 10px 0;
}
