// Search filters
.search-select {
  width: 120px !important;
  background-color: $brand-orange;
  color: white;
}

.search-submit {
  width: 120px;
}

// School tile
.index-card {
  padding: 7px 10px 7px 10px;
  color: #595858;
  font-weight: normal;
  font-size: 20px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  float: left;
  position: relative;
  background: #F7F9FA;
  border: solid 1px rgba(214,214,214,0.5);
  a:visited {
    color: white;
  }
}

/* RESPONSIVENESS */

@media (max-width: $screen-md-min) {
  .index-card > h4 {
    text-align: center;
  }
}

@media (max-width: $screen-sm-min) {
  .js-block-sm {
    width: 100%;
    display: block;
  }
}

#school {
  #contact {
    // flex: 1;
    background-color: white;
    padding: 20px;
    img {
      padding: 5px 15px;
    }
  }

  #banner {
    text-align: left;
  }

  #map {
    margin-left: -15px;
    margin-right: -15px;
    height: 200px;
    background: yellow;
  }

  #search {
    background-color: $brand-red;
    padding: 20px;

    .input-group-addon {
      background-color: $brand-orange;
      color: white;
      font-size: 10px;
    }
  }
  #school_search_sidebar {
    color: white;

    label {
      font-weight: normal;
    }
    .search-select {
      display: inline-block;
    }
  }
  #info {
    padding: 20px;
    .tab-content {
      overflow-y: auto;
    }
  }
}
