%h1 Editing location

.row
  = render 'form'

%br/
.row
  .col-md-6
    = link_to 'Show', @location, class: "btn btn-sm btn-brand-orange"
    = link_to 'Back', locations_path, class: "btn btn-default btn-sm"

