- if current_page? root_path
  .container.hidden-xs
    .navbar-logo
  %nav.nav-upper
    .container
      %ul.nav.navbar-upper
        = render 'layouts/nav_links_for_auth'

%nav.navbar.navbar-static-top.navbar-lower
  .container{class: ("bg-brand-primary" unless current_page? root_path)}
    .navbar-header
      %button{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar', 'aria-expanded' => 'false', class: 'navbar-toggle collapsed'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar.text-xs-right
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
