= active_link_to 'Home', root_path, active: :exclusive, wrap_tag: :li, wrap_class: (current_page?(root_path) ? 'text-primary': '')
= active_link_to 'Schools', schools_path, wrap_tag: :li, wrap_class: (current_page?(schools_path) ? 'text-secondary': '')
/ = active_link_to 'Blog', blogs_path, wrap_tag: :li, wrap_class: (current_page?(blogs_path) ? 'text-secondary' : '')
= active_link_to 'About Us', page_path('about'), wrap_tag: :li, wrap_class: (current_page?(page_path('about')) ? 'text-secondary': '')
= active_link_to 'Contact Us', page_path('contact'), wrap_tag: :li, wrap_class: (current_page?(page_path('contact')) ? 'text-secondary': '')
